*.un~
*.ahk~
*.log
*.cjp
*.*~
*.aimy
test.ahk
test.py
test.txt
Thumbs.db
temp.ini
.vscode/*
aihk_run.ahk
tempscript.ahk
aihk_run.ahk
bin/飞扬魔法键盘/temp.ini
/user/*
!/user/default
/python/__pycache__/*
python/hhh.ini
